In [2]:

import numpy as np
import pandas as pd

In [38]:
p0 = 1000 # starting price
plb = 900 # price lower bound
pub = 1100 # price upper bound


spd_pct = 0.01

spd = p0 * spd_pct/100

fee = 0.03

price_lvls_down = np.arange(p0,pub ,spd) + spd
n_lvls = len(price_lvls_down)
n_lvls

1000

In [42]:
Risk = pd.DataFrame()

Fee =  np.array([fee] * n_lvls)

Risk['lvl'] = price_lvls_down
Risk['mv %'] = (np.arange(0,n_lvls) + 1.0)*spd_pct*100
Risk['mv %'] = Risk['mv %'].astype(int)
Risk["risk"] = (Risk['lvl'] - p0).cumsum()
Risk["risk_fee"] = (Risk['lvl'] - p0 + 2 * Fee).cumsum()

Risk["BE_TPs"] = (Risk['risk'] / spd).astype(int) 
Risk["BE_TPs_fee"] = (Risk['risk_fee'] / spd).astype(int) + 1 
Risk

        lvl  mv %     risk  risk_fee  BE_TPs  BE_TPs_fee
0    1000.1     1      0.1      0.16       1           2
1    1000.2     2      0.3      0.42       3           5
2    1000.3     3      0.6      0.78       6           8
3    1000.4     4      1.0      1.24      10          13
4    1000.5     5      1.5      1.80      15          19
..      ...   ...      ...       ...     ...         ...
995  1099.6   996  49650.6  49710.36  496506      497104
996  1099.7   997  49750.3  49810.12  497503      498102
997  1099.8   998  49850.1  49909.98  498501      499100
998  1099.9   999  49950.0  50009.94  499500      500100
999  1100.0  1000  50050.0  50110.00  500500      501101

[1000 rows x 6 columns]